body{
    background: #F3F5FC;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    width: auto;
    margin: 30px;
}

#contenedor-temas{
    margin: auto 10%;
    text-align: center;
}

#contenedor-temas h3{
    color: #0A3871;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

#lista-temas li{
    cursor: pointer;
    display: inline;
    margin: 10px;
    font-weight: bold;
}

main{
    display: flex;
    max-width: 1440px;
    justify-content: center;
    margin: auto;
}

section{
    display: inline-block;
    margin: 5px 15px;
}

.entrada-encriptador{
    width: 900px;
    height: 750px;
}

.entrada-encriptador textarea{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    border-radius: 18px;
    color: #0A3871;
    font-weight: 400;
    font-size: 28px;
    height: 80%;
    resize: none;
}

#aviso{
    color: #495057;
    font-size: 13px;
    line-height: 150%;
    margin: 5px 10px;
}

#simbolo-aviso{
    display: inline-flex;
    padding: 7px;
    font-weight: 500;
    background: #495057;
    shape-outside: circle();
    clip-path: circle();
    color: #ffffff;
}

.boton-encriptar, .boton-desencriptar, .boton-copiar{
    width: 300px;
    height: 60px;
    font-size: 16px;
    border-radius: 24px;
    color: #0A3871;
    margin: 10px;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.boton-encriptar{
    background: #0A3871;
    color: #ffffff;
}

.boton-encriptar:hover{
    background: #082b57;
}

.boton-desencriptar:hover, .boton-copiar:hover{
    background: #d4daf1;
}

.salida-encriptador{
    margin-top: -50px;
    width: 400px;
    height: 800px;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
}

#info-salida{
    display: flex;
    align-items: center;
    height: 90%;
    padding: 10px;
}

.salida-encriptador img{
    width: 80%;
}

.salida-encriptador h3{
    font-size: 24px;
    font-weight: 700;
    color: #343A40;
}

.salida-encriptador p{
    margin-top: 16px;
}

#info-encriptada{
    height: 95%;
    padding: 5px;
    text-align: center;
    display: none;
}

#area-encriptada{
    border: none;
    background: transparent;
    padding: 10px;
    width: 90%;
    height: 90%;
    font-size: 24px;
    resize: none;
    outline: none;
}

#aviso-copiado{
    width: 100%;
    display: none;
    text-align: center;
    color:#00dd00;
    font-weight:bold
}

footer{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 15px auto;
}

@media screen  and (max-width:1100px){
    html, main{
        width: auto;
    }

    .entrada-encriptador{
        width: 60%;
    }
    
    .salida-encriptador{
        width: 30%;
        height: 750px;
    }

    .boton-encriptar, .boton-desencriptar, .boton-copiar{
        width: 200px;
        height: 50px;
    }
}

@media screen  and (max-width:768px){
    main{
        display: block;
    }

    #contenedor-temas{
        margin: auto;
    }
    
    .entrada-encriptador{
        display: block;
        width: 85%;
        height: auto;
        margin: 5px auto;
    }

    #botonesED{
        text-align: center;
    }

    .boton-encriptar, .boton-desencriptar,.boton-copiar{
        width: 45%;
    }

    .salida-encriptador{
        display: block;
        width: 85%;
        height: auto;
        padding: 10px;
        margin:  20px auto 5px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    }

    #info-salida div{
        width: 100%;
        text-align: center;
        font-size: 24px;
    }

    .salida-encriptador img{
        display: none;
    }

    #info-salida div p{
        font-size: 16px;
    }

    #info-encriptada{
        height: auto;
    }

    #area-encriptada{
        height: auto;
        padding: 5px;
    }

}

@media screen  and (max-width:375px){
    header{
        margin: 20px 0;
    }

    #contenedor-temas{
        margin: auto;
    }

    .boton-encriptar, .boton-desencriptar,.boton-copiar{
        width: 95%;
    }
}